/********** Template CSS **********/
:root {
  --primary: #eb1616;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}
body {
  background-color: #000000;
}
#inner-container {
  background-color: #191c24;
}
#inner-container > form > div > a {
  color: #e69c00;
}
#inner-container > form > div > a:hover {
  color: #ffbe33;
}
#inner-container > form > div > input {
  background-color: #000000;
  border: none;
}
#inner-container > form > div > input:focus {
  box-shadow: 0px 0px 3px #e69c00;
}
#inner-container > form > div > label {
  color: #6c7293;
}
#inner-container > form > button {
  background-color: #e69c00;
  color: white;
  font-weight: bolder;
}
